@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
}
.login{
    background: white!important;
    overflow: hidden!important; /* evita barra de rolagem */
}
.full-height {
    height: 100vh;
    padding: 20px;
}
.full-height form{
    padding: 40px 100px;
}
.full-height .title{
    color: var(--color-primary);
    font-weight: bolder;
}

.full-height h5{
    color: var(--color-primary);
    font-weight: bolder;
    font-size: 15px;
}
.full-height form p{
    font-size: 12px;
}


.full-height form input, .full-height form input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    line-height: 38px;
    padding-left: 18px;
    height: 48px;
    background: #f0f2f5;
}

.card-login{
    background: var(--color-primary);
    background: linear-gradient(90deg,var(--primary-color) 0%, var(--primary-color) 100%);
    height: 100%;
    border-radius: 30px;
    padding: 150px;
    color: white;
    margin-right: 20px;
}

.card-login .c h4{
    font-size: 2rem !important;
    color: white;
}

.card-login .c .title{
    font-size: 1.4rem !important;
    color: white;
}

.navbar-wrapper-login .b-brand{
    font-size: 35px;

}
.navbar-wrapper-login .b-brand svg {
    margin-top: -7px;
    margin-right: 5px;
    font-size: 55px;
    color: #2890c8;
}

@media (max-width: 824px) {
    .navbar-wrapper-login .b-brand span {
        display: block !important;
    }
    .login .text-start{
        display: none!important;
    }
}

.login form .form-control{
    background: #fbf7f7!important;
    border: 1px solid #f1eeee !important
}