@charset "UTF-8";

label.form-label{
    font-weight: unset!important;
    font-size: 12px !important;
    margin: 0;
}
.box{
    border: 1px solid #e3dfdf;
    border-radius: 7px;
    padding: 10px;
    display: flex;
}

input,
select {
    width: 100%;
    border-radius: 7px !important;
    /* border: 0!important; */
    background: #fbfbfb !important;
    border: 1px solid #e3dfdf !important;
    font-size: 12px !important;
    padding: 10px 14px!important;
    margin-bottom: 5px;
}
.form-control:focus {
    color: var(--bs-body-color);
    /*background: var(--pc-sidebar-background);*/
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}
.search-input{
    background: var(--pc-sidebar-background);
    border: 1px solid #f4f4f6;
    border-radius: 7px;
    padding: 12px 15px;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}


