@charset "UTF-8";

:root {
    --primary-color: #252527;
    --primary-color-rgb: rgb(24, 24, 25);
    --secundary-color: #288fc6;
    --secundary-color-rgb: rgb(40, 144, 200);
    --color-text: #515050;

    --bs-body-bg: #f7f7f7;
    --bs-body-bg-rgb: 255, 255, 255;
    --pc-heading-color: #060606;
    --pc-active-background: rgba(var(--bs-primary-rgb), .12);
    --pc-sidebar-background: #ffffff;
    --pc-sidebar-border-color: #ececec;
    --pc-sidebar-color: var(--primary-color);
    --pc-sidebar-color-rgb: 206, 212, 220;
    --pc-sidebar-icon-color: #778290;
    --pc-sidebar-submenu-border-color: #778290;
    --pc-sidebar-active-color: #4e4c4c;
    --pc-sidebar-main-active-color: #e4eefc;
    --pc-sidebar-main-active-background: #dfe7f1;
    --pc-sidebar-shadow: 0px 0px 24px rgba(27, 46, 94, .05);
    --pc-sidebar-caption-color: var(--primary-color);
    --pc-sidebar-border: none;
    --pc-brand-background: #161c25;
    --pc-topbar-background: #1c232f;
    --pc-topbar-color: #b5bdca;
    --pc-header-submenu-background: #fff;
    --pc-header-background: rgb(255, 255, 255);
    --pc-header-color: #525b69;
    --pc-header-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    --pc-card-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1);
    --pc-breadcrumb-background: #fff;
    --pc-breadcrumb-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    --pc-header-submenu-background: #ffffff;
    --pc-header-submenu-color: #1c232f;
    --btn-save: #f5f6f8;
}
body {
    overflow: auto;
    background: var(--bs-body-bg);
    font-family: 'roboto' , sans-serif;
}
p{
    padding: 0;
    margin:0;
    color: var(--color-text);
}
.pc-container {
    position: relative;
    top: 70px;
    margin-left: 264px;
    min-height: calc(100vh - 70px);
    transition: width 0.3s ease;
}
@media (max-width: 1024px) {
    .pc-container {
        margin-left: 100px;
        transition: width 0.3s ease;
    }
    .pc-mtext{
        display: none!important;
        background: red;
    }
}

.pc-container .pcoded-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;

}

.pc-container .pcoded-content .header-page{
    /*background: red;*/
}
.header-page .title-page{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.header-page .url-page{
    font-size: 11px;
    font-weight: 600;
    color: var(--secundary-color);
    margin: 0;
    padding: 0;
}

/* Overlay da sidebar */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.sidebar-overlay.open {
    opacity: 1;
    pointer-events: all;
}

/* Sidebar */
.sidebar {
    width: 45%;
    display: flex;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    height: auto;
    border-radius: 25px;
    margin: 10px;
    align-content:center;
    overflow: hidden;
    background: var(--bs-body-bg);
}

.sidebar-overlay.open .sidebar {
    transform: translateX(0); /* desliza para dentro */
}
/* Conteúdo da sidebar */

.tab-list {
    margin-left: 7px;
    width: 60px !important;
    background: #fff;
    float: left;
    height: 100%;
    padding:10px;
    background: var(--bs-body-bg);
}
.tab-list ul{
    padding: 0;
}
.tab-list li{
    list-style: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #fffefe;
    margin: 0;
    padding: 0;
    color: #0d6dfb;
    margin-top: 7px;
    text-align: center;
    padding: 4px;
}
.tab-list li.active{
    background: #0d6dfb;
    color: white;
}
.tab-list li span{
}

/* Conteúdo da sidebar */
.sidebar-content {
    float: right;
    width: calc(100% - 60px);;
    background: #fff;
    height: 100%;
    padding: 30px;
    border-radius: 25px;
}
.sidebar-content-data {
    background: #0d6cf9;
    padding: 7px 12px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    color: white;
    font-size: 12px;
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.card{
    border: 0;
}
table thead tr{
    overflow: hidden;
    background: var(--pc-sidebar-background);
    border-radius: 50px !important;
    font-weight: 700;

}
table th span{
    font-weight: bolder;
}

.avatar-initials{
    background: var(--pc-sidebar-background);
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

li{
    list-style: none;
}

.btn{
    background: var(--pc-sidebar-color);
    margin: 3px;
    border: none;
    color: #fff;
}

.btn-warning{
    background: var(--bs-btn-bg);
}
.btn-success{
    background: var(--bs-btn-bg);
}
.btn-danger{
    background: var(--bs-btn-bg);
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-text)!important;
}